/******** GLOBAL STYLES ********/
html {
    font-size: 16px;
}

body {
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-size: .9em;
   color: #000000;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 1.875em;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 36px;
}

.content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/******** HEADER STYLES ********/
header {
    display: flex;
    justify-content: center;
    text-align: center;
}

header h1 {
    /* outline: 3px dotted red; */
    /* width: 300px; */
    width: 100%;
    margin: 0;
    padding: 38px 0 20px 0;
    border-bottom: 3px solid #77A466;
}

header h1 span {
    color: #45610E;
}

header nav {
    /* outline: 3px dotted red; */
    width: 300px;
    padding: 44px 0;
    
}

header nav ul {
    padding: 0;
    margin: 0;
    /* text-align: right; */
    list-style: none;
}

header nav ul li {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
}

header nav ul li a {
    text-decoration: none;
    color: #45610E;
}

/********  MAIN STYLES ********/

.main-image img {
    border-top: 3px solid #77A466;
    border-bottom: 3px solid #77A466;
    width: 100%;
    height: auto;
}



.main-title h2 {
    color: #45610E;
    margin: 20px 0;
    padding: 5px 0;
}

/******** TOP SECTION ********/
.top-section {
    display: flex;
    justify-content: center;
}



/******** BOTTOM SECTION ********/
.bottom-section {
    display: flex;
    justify-content: center;
}

.bottom-section .content-wrapper {
   border-top: 5px solid #eee;
   border-bottom: 5px solid #eee;
}

.section-one,
.section-two,
.section-three {
    /* outline: 3px dotted red; */
    box-sizing: border-box;
    
    padding-left: 40px;
    padding-right: 40px;
}

.section-one {
    /* width: 350px; */
    width: 100%;
    padding-left: 40px;
    
}

.section-two {
    /* width: 500px; */
    width: 100%;
    /* border-right: 5px solid #eee;
    border-left: 5px solid #eee; */
    border-top: 5px solid #eee;
   border-bottom: 5px solid #eee;
    
}

.section-three {
    /* width: 350px; */
    width: 100%;
}

.bottom-section h3 {
    margin: 30px 0;
}

.menu-list {
    padding-left: 0;
    list-style: none;

}

.menu-list li {
    color: #45610E;
    line-height: 36px;
    text-transform: capitalize;

}

/******** FOOTER STYLES ********/
footer {
    text-align: center;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

footer span {
    font-size: 0.9rem;
    font-family: 'Galada', cursive;
    color: #45610E;
    text-transform: lowercase;
}